DirectoryIndex api.php

# enable apache rewrite engine
RewriteEngine on

# The path to your installation.
# If it's in a subfolder like localhost/openfusion
# then the path is "/openfusion", otherwise "/".
RewriteBase /openfusion

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^(.*)$ api.php [QSA]
